In [5]:
#Q1. Explain with an example each when to use a for loop and a while loop.

#For loop

l1 = ["vishal","kumar","raushan","kumar"]
for i in l1:
    print(i)

vishal
kumar
raushan
kumar

In [6]:
# while loop
a = 1
while a <= 10 :
    print(a)
    a = a + 1

1
2
3
4
5
6
7
8
9
10

In [7]:
#Q2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.
sum = 0
for i in range(1,11):
    sum=sum+i
print("sum of 1st 10 natural number is :",sum)

sum of 1st 10 natural number is : 55

In [8]:
sum=0
i=1
while i<=10:
    sum=sum+i
    i=i+1
print("sum of 1st 10 natural number is :",sum)

sum of 1st 10 natural number is : 55

In [9]:
product = 1
for i in range(1,11):
    product=product * i
print("the product of 10 natural number is :",product)

the product of 10 natural number is : 3628800

In [10]:
product=1
i=1
while i<=10:
    product=product * i
    i = i + 1
print("product of 1st 10 natural number is :",product)

product of 1st 10 natural number is : 3628800

In [11]:
# Q3. Create a python program to compute the electricity bill for a household.
#     The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per 
#     unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
#     be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
#     You are required to take the units of electricity consumed in a month from the user as input.
#     Your program must pass this test case: when the unit of electricity consumed by the user in a month is 310, the total electricity bill should be 2250.

unit = 310
if unit <= 100:
    bill = unit * 4.5
elif unit >= 101 and unit <= 200:
    bill = 450 + ((unit - 210) * 6)
elif unit >= 201 and unit <= 300:
    bill = 450 + 600 + ((unit - 210) * 10)
elif unit >= 301 and unit <= 310:
    bill = 450 + 600 + 1000 + ((unit - 300) * 20)
else:
    bill = 346 + 1486 + 2064 + 200
print("Bill total Unit:",bill)

Bill total Unit: 2250

In [12]:
# Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
#     number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.
l1 = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25,26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99,100]
l2 = []
for i in l1:
	l2.append((i*i*i)/4)
print(l2)

[0.25, 2.0, 6.75, 16.0, 31.25, 54.0, 85.75, 128.0, 182.25, 250.0, 332.75, 432.0, 549.25, 686.0, 843.75, 1024.0, 1228.25, 1458.0, 1714.75, 2000.0, 2315.25, 2662.0, 3041.75, 3456.0, 3906.25, 4394.0, 4920.75, 5488.0, 6097.25, 6750.0, 7447.75, 8192.0, 8984.25, 9826.0, 10718.75, 11664.0, 12663.25, 13718.0, 14829.75, 16000.0, 17230.25, 18522.0, 19876.75, 21296.0, 22781.25, 24334.0, 25955.75, 27648.0, 29412.25, 31250.0, 33162.75, 35152.0, 37219.25, 39366.0, 41593.75, 43904.0, 46298.25, 48778.0, 51344.75, 54000.0, 56745.25, 59582.0, 62511.75, 65536.0, 68656.25, 71874.0, 75190.75, 78608.0, 82127.25, 85750.0, 89477.75, 93312.0, 97254.25, 101306.0, 105468.75, 109744.0, 114133.25, 118638.0, 123259.75, 128000.0, 132860.25, 137842.0, 142946.75, 148176.0, 153531.25, 159014.0, 164625.75, 170368.0, 176242.25, 182250.0, 188392.75, 194672.0, 201089.25, 207646.0, 214343.75, 221184.0, 228168.25, 235298.0, 242574.75, 250000.0]

In [13]:
# Q5. Write a program to filter count vowels in the below-given string. 
#     string = "I want to become a data scientist"
string = "I want to become a data scientist"
count = 0
vowels = ["a", "e", "i", "o", "u"]

for i in range(len(string)):
    if string[i] in vowels:
        count += 1

print("Number of vowels in the given string is: ", count)

Number of vowels in the given string is:  11